

.wifi-login-form{
  .form-group {
    padding: 10px 20px;
    text-align: left;
  
    label{
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
    }
  
    >input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 5px;
      border-radius: 4px;
      border: 0;
      box-shadow: 0 0 0 1px #ccc;
    }
  }

  .submit{
    margin-top: 30px;
  }
  
  button.submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #304446;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2), -1px 1px 2px rgba(0,0,0,0.2);
    border: 0;
  }
}
