.footer{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 20px;
  padding: 10px 0;
  text-align: center;
  background-color: #f7f7f7;
  z-index: 98;

  >img{
    height: 100%;
  }
}
