.stereo-speaker-list-base {
  p{
    text-align: center;
  }
}

p.pill{
  display: block;
  text-align: center;
  background-color: #607272;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 5px;
  color: #fff;
  border-radius: 3px;
  margin: 30px 10px 10px;
}
